

.results-container {
  background-color: #FFF3F3;
  height: 100vh;
}

.leftCol {
	height: 600px;
	margin-top: 10%;

}

.rightCol {
	height: 600px;
	margin-top: 10%;

}

.topRight {
	height: 200px;
	margin-bottom: 5%; 
}

.botRight {
	height: 370px;
}



.right-container {
}

.dropzone-container {
  border-radius: 24px;
  display: block;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  box-shadow: 1px 2px 40px 20px rgba(0, 0, 0, 0.1);
}

.dropzone-container:hover {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 50px 20px rgba(0, 0, 0, 0.2);
}