.particles {
  z-index: -2;
  position: absolute;
  width: 100vw;
  height: 110vh;
  background-image: url("../assets/bg.svg");
  background-size: cover;
}

.upload-container {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.upload-icon-container {
  width: 100%;
  text-align: center;
}

#upload-icon {
  width: 75%
}

#upload-icon:hover {
  cursor: pointer
}

.instruction {
  color: white;
  font-family: 'Circular Std';
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.upload-button-container {
  text-align: center;
  padding-top: 4%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.upload-button {
  border: none;
  border-radius: 16px;
  padding: 12px 36px 12px;
  opacity: 0.9;
  transition: 0.3s;
  background-color: white;
  color: #ed2222;
  font-size: 22px;
}
    .upload-button:hover, .upload-button:focus {
        background-color: #ffffff;
        box-shadow: 1px 2px 20px 8px rgba(255,255,255, 0.3);
    		transition: 0.3s;
        outline: none;
    }


#filename {
  text-align: center;
  margin-top: 3%;
  font-family: "Circular Std";
  color: white;
  margin: 4px 0
}

.filename-container {
  height: 110%
}

#spinner {
  width: 5%;
}

.spinner-container {
  text-align: center;
  margin-top: 2%;
}

.upbox {
  width: 20px;
}

.upload_b {
  font-family: 'Circular Std';
}
