body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  src: url("./assets/fonts/CircularStd-Bold.otf");
  font-family: "Circular Std";
  font-weight: bold
}

@font-face {
  src: url("./assets/fonts/CircularStd-Book.otf");
  font-family: "Circular Std";
}